 
*{
    margin: 0px;
    padding: 0px;
}

header{
    /* padding:16px 80px 16px 0px ; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    height: 62px;
    background: #FFFFFF;
  
}

.nav{
    width:130px ;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

#list2{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 35px;
}
.button{
    padding: 0px 45px 0px 20px;}
#btn{
    background-color:#30B868 ;
    width: 160px;
    height: 44px;
    border: none;
}    
#btn:hover{
    background-color: #00eb62;
}
.bennar{
    max-width: 1300px;
    height:500px;
   background-image: url(/B13-A01-Knowledge-Vault/assets/hero-bg.png);

}


.b-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:1000px ;

}
.b-btn{
    border-radius: 1000px;
    display: flex;
    align-items: center;
    margin: 60px auto 2px;
}

.b-text{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin:0%;
    font-size: 40px;
    padding: 30px;
  
   
}

 h1{
color: #FFFFFF;
line-height: 60px;
margin-bottom: 10px;


}
span{
    color: #30B868;
}
.pp{
    color: #FFFFFF;
    margin-top: 0px;
}
.b-p{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
} 

.b-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   padding-top: 25px;
}

.btn{
    background-color:#30B868 ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 191px;
    height: 44px;
    border-radius: 4px;
    border: none;
     color: #FFFFFF;
}
.btn:hover{
    background-color: #00eb62;

}
.btn2{
   background: transparent;
   border-radius: 4px;
  color: #FFFFFF;
    width: 191px;
    height: 44px;
}
 .btn2:hover{
    background-color: #6ece6e;
} 

#c-text{
    padding-top: 35px;
    padding-bottom:15px ;
    display: flex;
    justify-content:center;
}
.c-p{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #627382;
  

}
.c-c{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.card1{
      margin: 10px ;
      background-color: rgb(255, 255, 255);
      padding: 30px  20px;
      border-radius: 16px;
      width: 200px;
      height: auto;
      text-align: center;
      border: 1px solid #f0f0f0;
     
   
}
.card1 img {
    background-color:#f95555 ;
  padding: 12px;
  border-radius: 50%;
  width: 20px;
  height: 25;



  
}
.img{
    /* display: flex;
    justify-content: center;
    align-items: center; */
     display: flex;
   justify-content: center;
   align-items:center ;
   margin-bottom: 20px;
  
}
 .card1 p{
    color: #627382;
 }
 .card h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1a1a1a;
    padding: 0
  
 }

 .pic2{
    width: 500px;
    height: 300px;
 
    border-radius: 12px;
    margin-bottom: 250px;


 }
 .info{
     max-width: 1300px;
     height: 850px;
   
 }
.pic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-bottom: 19px;
    padding: 120px 50px 100px;
   
 }
 ul{
    list-style: none;

 }
 ul li{
    display: flex;
    align-items: center;
 }
 .i-text h4{
  color: #30B868;
  margin-bottom: 16px;
 }
 .i-text p{
    color:#627382 ;
    margin-bottom: 40px;
 }
 .i-text h2{
    line-height: 100%;
   font-size: xx-large;
   margin-bottom: 16px;

   
 }
 .last{
    max-width: 1300px;
    height: 380px; 
    background-color: #f7f6f2;
    margin:2px 120px 120px  ;
 }
 .last-text{
    padding: 80px 40px 1px;
   
    display: flex;
    justify-content: center;
   font-size: x-large;
 }
 .l-p{
    display: flex;
    justify-content: center;
   text-align: center;

    padding-top: 12px;
    color: #627382;
 }
 .btn2{
     background-color:#30B868 ;
   display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    border: none;
 }
 .l-t-b{
    display: flex;
    justify-content: center;
    padding-top: 16px;
    margin-bottom: 16px;
 }
 p{
    display:flex ;
    justify-content: center;
 }
 .footer{
    background-color: #001931;
    height: 300px;
    
    
 }
.f-logo{
   
 }
 .f-s{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 70px;
 
 }
.i{
    width: 139px;
    height: 60px;

}
.f-ul h4{
    color: #FFFFFF;
    margin-bottom: 10px;
}

ul {
    display: flex;
    gap: 9px;
}
.f-l{
    display: flex;
    justify-content: center;
    margin-top: 9px;
}
.ppp{
    color: #627382;

}
