 
header{
    /* padding:16px 80px 16px 0px ; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    height: 62px;
    background: #FFFFFF;
  
}

.nav{
    width:130px ;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

#list2{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 35px;
}
.button{
    padding: 0px 45px 0px 20px;}
#btn{
    background-color:#30B868 ;
    width: 160px;
    height: 44px;
}    
#btn:hover{
    background-color: #00eb62;
}
.bennar{
    max-width: 1250px;
    height:504px;
   background-image: url(/B13-A01-Knowledge-Vault/assets/hero-bg.png);

}


.b-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:1000px ;

}
.b-btn{
    border-radius: 1000px;
    display: flex;
    align-items: center;
    margin: 60px auto 2px;
}

.b-text{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin:0%;
    font-size: 40px;
   
}

 h1{
color: #FFFFFF;
line-height: 60px;
margin-bottom: 10px;


}
span{
    color: #30B868;
}
.pp{
    color: #FFFFFF;
    margin-top: 0px;
}
.b-p{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
} 

.b-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn{
    background-color:#30B868 ;
    display: flex;
    align-items: center;
    width: 191px;
    height: 44px;
    border-radius: 4px;
}
.btn:hover{
    background-color: #00eb62;

}
.btn2{
   background: transparent;
   border-radius: 4px;
  color: #FFFFFF;
    width: 191px;
    height: 44px;
}
 .btn2:hover{
    background-color: #6ece6e;
} 

#c-text{
    display: flex;
    justify-content: center;
}
.c-p{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #627382;

}
.c-c{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.card1{
      margin: 10px ;
      background-color: rgb(255, 255, 255);
      padding: 30px  20px;
      border-radius: 16px;
      width: 200px;
      height: auto;
      text-align: center;
      border: 1px solid #f0f0f0;
     
   
}
.card1 img {
    background-color:#f95555 ;
  padding: 12px;
  border-radius: 50%;
  width: 20px;
  height: 25;



  
}
.img{
    /* display: flex;
    justify-content: center;
    align-items: center; */
     display: flex;
   justify-content: center;
   align-items:center ;
   margin-bottom: 20px;
  
}
 .card1 p{
    color: #627382;
 }
 .card h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1a1a1a;
    padding: 0
  
 }

 .pic2{
    width: 500px;
    height: 400px;
    border-radius: 12px;
    margin-bottom: 250px;


 }
 .info{
     max-width: 1200px;
     height: 500px;
   
 }
.pic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 46px;
    margin-bottom: 19px;
   
 }
 ul{
    list-style: none;
    padding-left: 0px;
 }
 .i-text h4{
  color: #30B868;
 }
 .i-text p{
    color:#627382 ;
 }
 .i-text h2{
    line-height: 100%;
   font-size: xx-large;
   
 }